@using System.Globalization

@model HomePostsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('img/home-bg-2.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>New World RSS Feed</h1>
                    <span class="subheading">latest updates</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            
            @await Html.PartialAsync("../Shared/_PostListPartial",Model?.Posts.Select(post => new PostViewModel { 
                Author = post.Author,
                Date = post.Date,
                Subtitle = post.Content,
                Url = post.Url
            }).ToList())
            
            
            <div class="row mb-4">
                <!-- Pager-->
                <div class="col-6 col-md-4 mb-2">
                    @if(Model?.CurrentPage > 1)
                    {
                       <a class="btn btn-primary text-uppercase" href="@Url.Action("Index", "Home", new { page = Model!.CurrentPage - 1 })"><span class="d-none d-sm-block">←</span> Previous Posts</a>
                    }
                </div>
                <div class="col-md-4 d-none d-sm-block"></div>
                <div class="col-6 col-md-4 d-flex justify-content-end">
                    @if(Model?.Posts?.Any() ?? false)
                    {
                        <a class="btn btn-primary text-uppercase" href="@Url.Action("Index", "Home", new { page = Model!.CurrentPage + 1 })">Older Posts <span class="d-none d-sm-block">→</span></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>